/* latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  src: local("Baloo 2 Regular"), local("Baloo2-Regular"),
    url(https://fonts.gstatic.com/s/baloo2/v1/wXKrE3kTposypRyd51jcAA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  font-family: "Baloo 2";
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.wrapper {
  padding: 1em;
}

main {
  padding: 1em;
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  margin-right: 2em;
}

h1 {
  font-size: 3em;
  margin-top: 1.5em;
}

.cta {
  display: block;
  padding: 2em 2em 2em 0;
  font-size: 1.4em;
}

img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

@media (min-width: 650px) {
  main {
    display: flex;
    margin-top: 3em;
    position: relative;
    z-index: 3;
  }

  .wrapper {
    max-width: 950px;
    margin: 0 auto;
  }

  .left {
    padding-right: 2em;
  }

  img {
    width: 400px;
  }

  .cta {
    padding: 1em;
    background-color: white;
    position: absolute;
    z-index: 21 !important;
    width: 80%;
    animation-fill-mode: initial;
  }
}
